nav{
    /* height: 80px;  */
    /* margin-top: -35px; */
}

#navbar-content{
    justify-content: flex-end;
}

.background-image-camera{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

#camera-list{
    flex-wrap: wrap;
}

footer{
    height: 80px;
    margin-bottom: 0px !important;
    margin-top: 4rem;
}

.fa-twitter, .fa-facebook-f, .fa-tripadvisor{
    font-size: 25px;
    color: #E9ECEF;
    padding-top: 2rem;
}