footer{
     height: 80px;
     margin-bottom: 0px !important;
     margin-top: 4rem;
 }
 
 .fa-twitter, .fa-facebook-f, .fa-tripadvisor{
     font-size: 25px;
     color: #E9ECEF;
     padding-top: 2rem;
 }