body{
    color: $colour-text;
}

a{
    color: $colour-text;
}


 .hide{
   display: none;  
 }
 
 #camera-list{
     flex-wrap: wrap;
     justify-content: space-around;
     flex-direction: initial;
 }
 
 #camera-card{
     padding: 0;
 }
 
 .background-image-camera{
     width: 100%;
     height: 400px;
     background-size: cover;
     background-position: center;
 }
 
 .background-image-product{
     width: 100%;
     height: 400px;
     background-size: cover;
     background-position: center;
 }
 
 #camera-lense{
     padding: 0;
 }
 
 .camera-quantity-selector{
     display: inline-grid;
 }
 
 
 #camera-price{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 #camera-buy{
     justify-content: center;
     display: flex;
 }
 
 .selectQuantity{
     justify-content: center;
     display: flex;
 }
 
 #title-table-empty{
     justify-content:  center;
 }