#camera-product {
  font-family: $font-texte;
  padding: 0;
  border: $border $colour-border;
  //Animation des cards
  -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    both;
  animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

#camera-item {
  padding: 0;
  border: $border $colour-border;
  width: 50%;
}

.background-image-product {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.input-group-text {
  background-color: white !important;
  border-top: $border $colour-border !important;
  border-bottom: $border $colour-border !important;
  border-left: $border $colour-border !important;
  border-right: none !important;
  border-radius: 0.25rem 0rem 0rem 0.25rem !important;
  height: 53px;
}

#inputGroupSelect01 {
  border-top: $border $colour-border;
  border-bottom: $border $colour-border;
  border-right: none;
  border-left: none;
  height: 53px;
  padding: 10px;
  cursor: pointer;
}

select:focus {
  outline: none !important;
}

.camera-quantity-selector {
  border-top: $border $colour-border;
  border-bottom: $border $colour-border;
  border-right: $border $colour-border;
  border-radius: 0rem 0.25rem 0.25rem 0rem !important;
  display: inline-grid;
}

#quantity {
  border: none;
  cursor: pointer;
}

#camera-lense {
  padding: 0;
}

#camera-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectQuantity {
  justify-content: center;
  display: flex;
}

#camera-buy {
  justify-content: center;
  display: flex;
  border: $border $colour-border;
  transition: transform 0.3s ease-in-out;

  &:hover {
    //Animation du boutton au hover
    transform: scale(1.1);
    -webkit-animation: color-change 1s ease-in-out infinite alternate both;
    animation: color-change 1s ease-in-out infinite alternate both;
  }

  &:focus{
    box-shadow: 0 0 0 0.25rem #cf7e4c !important;
  }
}
